@import '../../variables.scss';

.search-panel {
    margin-top: 30px;
    padding: $default-padding;
    background-color: $main-bg-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    color: $main-text-color;
}